# ==========================================
# Настройки основной БД (PostgreSQL в Docker)
# ==========================================
POSTGRES_DB=donor-search_db
POSTGRES_USER=donor-search_admin
POSTGRES_PASSWORD=SuperSecretPassword123!

# ==========================================
# Настройки внешней БД (MS SQL ИнфраМенеджер)
# ==========================================
INFRA_MANAGER_DB_URL=jdbc:sqlserver://host-name:1433;databaseName=InfraManager;trustServerCertificate=true;
INFRA_MANAGER_DB_USERNAME=infra_reader
INFRA_MANAGER_DB_PASSWORD=InfraPassword456!

# ==========================================
# Настройки приложения
# ==========================================
# Порт, на котором будет доступен веб-интерфейс
HTTP_PORT=80

# Режим создания схем (validate для штатной работы, update для первого запуска)
DDL_AUTO=validate